<% include partials/header %>

<div id="container">
	<h1>To-Do List <span id="toggle-form"><i class="fa fa-plus"></i></span></h1>
	
	<input type="text" placeholder="Add New Todo">

	<ul>
		<li><span><i class="fa fa-trash"></i></span> Do homework</li>
		<li><span><i class="fa fa-trash"></i></span> Buy food</li>
		<li><span><i class="fa fa-trash"></i></span> Wash dishes</li>
	</ul>
</div>

<% include partials/footer %>